.bigbox{
    width: 810px;
    height: 650px;
    margin: 0 auto;
}
ul{
    width: 600px;
    height: 600px;
    border: 2px solid #82286C;
    padding: 0;
    float: left;
}
li{
    list-style: none;
    border: 0;
    width: 30px;
    height: 30px;
    float: left;
}
.oper{
    float: right;
    width: 170px;
    padding-top: 200px;
    padding-left: 30px;
}
#level{
    width: 80px;
    height: 40px;
    padding-left: 25px;
    outline: none;
    -webkit-appearance: none;
}
.oper input{
    display: block;
    margin-top: 20px;
    width: 80px;
    height: 40px;
    border: 0;
    background: #151BA4;
    color: #fff;
    border-radius: 30px;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.5);
    outline: none;
}